/*This is frankly mediocre, but I'm not studying web design. The focus of this project is the all the typescript, object interaction, & overall functionality
I just needed something digestable to display the information, making it look really good is out of my scope as long as it's readable*/
main {
	text-align: center;
	padding: 1em;
	max-width: 240px;
	margin: 0 auto;
}

@media (min-width: 640px) {
	main {
		max-width: none;
	}
}

html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	color: #333;
	margin: 0;
	padding: 8px;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}

h4 {
	margin: auto;
}

.num-header{
	display:flex;
	margin:auto;
	width: 35%;
}

.cont-creator{
	display:flex;
	margin:auto;
	width: 700px;
}

.all-rows{
	text-align: center;
	display: table;
	margin-left:auto;
	margin-right:auto;
}

.six-block{
	height: 100px;
	width:500px;
	text-align: center;
	position:relative;
	display: table-row;
	margin: 0 auto;
}

.cont-info-block{
	display:flex;
	flex-direction:column;
	position:relative;
    margin:10px;
   	display:inline-block;
	vertical-align: top;
}

.create-pic{
	width: 100px;
	height: 100px;
	margin:5px;
}

.dead-pic{
	width: 100px;
	height: 100px;
	margin:5px;
	filter: grayscale(100%);
}


.create-x{
	width: 25px;
	height: 50px;
	margin: auto;
}

.create-input{
	width: 150px;
	height: 50px;
	margin: auto;
}

.back-button{
	width: 50px;
	height: 50px;
	margin: auto;
}

.fileupload{
	width: 100px;
	height: 25px;
	margin: auto;
	border:#333 1px solid;
}

.input-label{
	margin:auto;
}

.spacer{
	background-color: grey;
	height: 75vh;
}